.headerbody {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    top: 0;
    position: sticky;

    /* Desktop */
    @media (min-width: 1024px) {

    }

    /* Tablet */
    @media (min-width: 768px) and (max-width: 1023px) {

    }

    /* Mobile */
    @media (max-width: 767px) {

    }
}

.nameitem {
    text-align: right;
}